div.app {
  font-family: Helvetica;
  font-size: 16px;
  padding: 20px;
  background-color: #eaeaea;
  background-image: linear-gradient(top, #fafafa, #cacaca 50%);
  margin: auto;
  width: 500px;
  text-align: center;
}

div.app h1 {
  text-align: center;
}

div.app div.todo.done label {
  text-decoration: line-through;
}

div.app input[type=text] {
  margin: auto;
  width: 420px;
  font-size: 16px;
  padding: 3px;
  margin-bottom: 18px;
}

div.app div.todo {
  text-align: left;
  -moz-user-select: none;
}

div.app label {
  font-size: 16px;
  line-height: 1.8;
}

div.app div.actions {
  text-align: right;
}

div.app button {
  margin: 5px 10px 0 0;
}
